<title>{{title}}</title>
<center>
    <div class="section"></div>
    <main>
    <div class="section"></div>
    <div class="logo">
        <img src="/Users/vedadnya_98/Desktop/Web Programming HW/Web 1 Project/media/logo.png" alt="" class="circle responsive-img valign profile-image-login">
    </div>    
    <h5 class="indigo-text">Login to Play!</h5>
    <div class="section"></div>
          
    <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
            <div class="row">
                <form class="col s12" method="POST" id="login_form" action="/login">
                <div class="row">
                    <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">Email</label>
                    </div>
                </div>  
                <div class="row">
                    <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">Password</label>
                    </div>
                    <label style='float: right;'>
                            <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
                    </label>
                </div>
                <div class='row'>
                        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
                </div>
                </form>
            </div>
        </div> 
    </div>
    <a href="signup">Create account</a>
    </main>       
    </center>